*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
 }
 
 section{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }
 section > .main_image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20%;
    background-size: cover;
    transform: scale(1.01);
 }
 section > .main_image::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1486CE;
    opacity: 0.15;
 }
 section > .main_image::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,1)0%,
        rgba(0,0,0,0.81)37%,
        rgba(0,0,0,0.67)55%,
        rgba(0,0,0,0)100%
    );
    opacity: 1;
 
 }
 .Thrones{
    background-image: url("images/got-title.png");
    height: 443px;
    width: 1660px;
    opacity: 1;
    z-index: 1;
    margin-top: -7px;
    margin-left: 5px;
 }