* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
}
.cell {
    flex-grow: 1;
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-grow: 1;
}
.col-1 {
    flex-grow: 0.4;
    height: 210px;
}
.col-1b {
    flex-grow: 1;
    border: 1px solid black;
    height: 130px;
}
.col-1c {
    flex-grow: 1;
    border: 1px solid black;
    height: 80px;
    background-color: bisque;
}
.col-2 {
    flex-grow: 0.8;
    height: 210px;
}
.col-2b {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
    background-color: bisque;
}
.col-2c {
    flex-grow: 1;
    border: 1px solid black;
    height: 80px;
    background-color: bisque;
}
.col-2d {
    flex-grow: 1;
    border: 1px solid black;
    height: 80px;
}
.col-3 {
    flex-grow: 0.4;
    height: 210px;
}
.col-3b {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
    background-color: bisque;
}
.col-3c {
    flex-grow: 1;
    border: 1px solid black;
    height: 160px;
    background-color: black;
}
.col-4 {
    flex-grow: 1.2;
    height: 210px;
}
.col-4b {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
}
.col-4c {
    flex-grow: 1;
    border: 1px solid black;
    height: 160px;
    background-color: blue;
}
.col-5 {
    flex-grow: 1;
    height: 210px;
}
.col-55 {
    flex-grow: 1.5;
    height: 140px;
}
.col-5b {
    flex-grow: 1;
    border: 1px solid black;
    height: 110px;
    background-color: bisque;
}
.col-5c {
    flex-grow: 1;
    border: 1px solid black;
    height: 30px;
    background-color: yellow;
}
.col-5d {
    flex-grow: 1;
    border: 1px solid black;
    height: 70px;
    background-color: bisque;
}
.col-5f {
    flex-grow: 1;
    height: 140px;
    border: 1px solid black;
}
.col-6 {
    flex-grow: 0.5;
    height: 210px;
    border: 1px solid black;
    background-color: red;
}
.col-6b {
    flex-grow: 0.5;
    height: 210px;
    border: 1px solid black;
    background-color: bisque;
}
.col-7 {
    flex-grow: 1.6;
    height: 360px;
}
.col-7b {
    flex-grow: 1;
    border: 1px solid black;
    height: 60px;
    background-color: bisque;
}
.col-7c {
    flex-grow: 1;
    border: 1px solid black;
    height: 180px;
    background-color: bisque;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
.col-7d {
    flex-grow: 1;
    height: 180px;
}
.col-7f {
    flex-grow: 1;
    height: 30px;
    border: 1px solid black;
    background-color: red;
}
.col-7g {
    flex-grow: 1;
    height: 150px;
    border: 1px solid black;
    background-color: yellow;
}
.col-8 {
    flex-grow: 1.2;
    height: 180px;
}
.col-8b {
    flex-grow: 1;
    height: 180px;
    border: 1px solid black;
    background-color: bisque;
}
.col-8c {
    flex-grow: 1;
    height: 180px;
}
.col-8d {
    flex-grow: 1;
    border: 1px solid black;
    height: 30px;
    background-color: bisque;
}
.col-8e {
    flex-grow: 1;
    border: 1px solid black;
    height: 150px;
    background-color: yellow;
}
.col-8f {
    flex-grow: 1;
    border: 1px solid black;
    height: 180px;
}
.col-9 {
    flex-grow: 2;
    height: 50px;
}
.col-9b {
    flex-grow: 3;
    border: 1px solid black;
    height: 50px;
    background-color: black;
}
.col-9c {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
}
.col-9d {
    flex-grow: 2;
    border: 1px solid black;
    height: 50px;
    background-color: bisque;
}
.col-9e {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
    background-color: bisque;
}
.col-9f {
    flex-grow: 1;
    border: 1px solid black;
    height: 50px;
    background-color: bisque;
}
.col-10 {
    flex-grow: 1;
    height: 180px;
    border: 1px solid black;
    background-color: red;
}
.col-10b {
    flex-grow: 2.5;
    height: 180px;
}
.col-10c {
    flex-grow: 1;
    height: 100px;
    border: 1px solid black;
    background-color: yellow;
}
.col-10d {
    flex-grow: 1;
    height: 80px;
    border: 1px solid black;
    background-color: blue;
}
.col-11 {
    flex-grow: 1;
    height: 80px;
    border: 1px solid black; 
    background-color: bisque;
} 