* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 main {
    width: 600px;
    margin: 0 auto;
}

 .red {
    background-color: #FE0000;
}

 .blue {
    background-color: #0505A5;
}

 .yellow {
    background-color: #FEFE00;
}

 .white {
    background-color: #fff;
}

 .row, .col {
    width: 100%;
    float: left;
    background-color: #000;
}

 .col {
    padding: 5px;
}

 .col-1 {
    width: 120px;
}

 .col-2 {
    width: 480px;
}

 .cell {
    height: 100%;
    min-height: 150px;
    margin: 5px;
}

 .row-1 {
    height: 300px;
}

 .row-1 .col-1 .row .cell:first-of-type {
    min-height: 100px;
}

 .row-1 .col-1 .row .cell:last-of-type {
    min-height: 200px;
}

 .row-1 .col-2 {
    height: 100%;
}

 .row-2 .col-2 {
    width: 380px;
}

 .row-2 .col-3 {
    width: 100px;
}

 .row-2 .col-3 .row .cell {
    min-height: 75px;
}  